.assessment_response {
  margin: 0 auto;
  padding-top: 42px;
  margin-bottom: 42px;
  max-width: 1180px;
  width: 90%;
}

.response_container {
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.response {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  max-width: calc(50% - 20px);
  background-color: var(--theme-black-50);
  padding: 24px;
  border-radius: 4px;
}

.response_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.response_question {
  display: flex;
  align-items: baseline;
  font-size: 16px;
}

.response_question pre {
  word-break: break-all;
  white-space: pre-wrap;
}

.objective-question__choices__choice {
  margin: 3px 0;
}

.response_correct_answer h6,
.response_user_answer h6 {
  display: inline;
}

.correct {
  border: 1px solid var(--theme-success-700);
}

.incorrect {
  border: 1px solid var(--theme-danger-800);
}

.response_icon {
  display: flex;
  justify-content: end;
  font-size: 26px;
}

.response_header,
.response_question,
.response_correct_answer,
.response_user_answer {
  margin-bottom: 10px;
}

.basicui-table {
  background-color: var(--basicui-bg-surface);
  color: var(--basicui-fg);
}

.response-detail__question pre {
  word-break: break-word;
  white-space: break-spaces;
  margin: 0;
}


